In [1]:
import pandas as pd
import random
import matplotlib.pyplot as plt

plt.rc('font', family='Microsoft JhengHei') # 讓 plt 可以顯示中文

df = pd.read_csv('教育部閩南語語言能力認證-各職業報名及通過人數.csv', encoding='utf-8') # 讀取資料集檔案
df.isnull().sum().sum() # 檢查空值數量

0

In [2]:
df

     年度    職業別  卷別  報名人數  到考人數  通過人數
0   111      工  A卷    79    63    58
1   111      工  B卷   144   100    53
2   111      工  C卷    16    15     2
3   111      公  A卷   190   128   126
4   111      公  B卷   461   298   220
5   111      公  C卷    46    33    14
6   111    自由業  A卷   115    84    79
7   111    自由業  B卷   369   288   204
8   111    自由業  C卷    86    64    15
9   111    服務業  A卷   215   158   149
10  111    服務業  B卷   635   429   272
11  111    服務業  C卷    84    67    12
12  111  待業及其他  A卷   161   107    90
13  111  待業及其他  B卷   659   450   308
14  111  待業及其他  C卷    93    68    13
15  111      軍  A卷     4     4     4
16  111      軍  B卷    24    18    12
17  111      軍  C卷     2     2     0
18  111     家管  A卷   115    84    81
19  111     家管  B卷   352   271   197
20  111     家管  C卷    42    31    12
21  111      商  A卷    60    46    45
22  111      商  B卷   155   106    65
23  111      商  C卷    16    13     2
24  111      教  A卷   556   368   367
25  111      教  B卷  6133  4216  3259
26  111      教  C卷   508   387   129
27  111      農  A卷     4     3     3
28  111      農  B卷    16    13     8
29  111      農  C卷     5     4     1
30  111     學生  A卷  6754  4783  2761
31  111     學生  B卷  1276   930   478
32  111     學生  C卷   112    85    16

# 1. 本資料收集了多少職業類別
(職業別)

In [6]:
df1 = df.drop_duplicates('職業別')
class_type = [i for i in df1['職業別']]
print(f"本資料集共收集了 {len(class_type)} 種職業類別，分別為 {'、'.join(class_type)}")

本資料集共收集了 11 種職業類別，分別為 工、公、自由業、服務業、待業及其他、軍、家管、商、教、農、學生

# 2. 本資料中總共報考人數有多少人
(報名人數)

In [11]:
print(f"本資料集總共報考人數有{sum([i for i in df['報名人數']])}人")

本資料集總共報考人數有19487人

# 3. 本資料中考A B C卷的各有多少人
(卷別)(到考人數)

In [19]:
df.groupby('卷別', sort=False)["到考人數"].sum().reset_index(name ='到考人數')

   卷別  到考人數
0  A卷  5828
1  B卷  7119
2  C卷   769

# 4. 非學生的類別中，實際到考人數共有多少人
(到考人數)(職業別)

In [15]:
total = 0
for index, row in df.iterrows():
    if row['職業別'] != "學生":
        total += row["到考人數"]

print(f"非學生的類別中，實際到考人數共有{total}人")

非學生的類別中，實際到考人數共有7918人

# 5. 學生與非學生類別，通過人數比例為何
(職業別)(通過人數)

In [17]:
total_student = 0
total_others = 0
for index, row in df.iterrows():
    if row['職業別'] != "學生":
        total_others += row["通過人數"]
    else:
        total_student += row["通過人數"]

print(f"學生與非學生類別，通過人數比例為 {str(float(total_student)/float(total_student+total_others)*100)[:5]}%")

學生與非學生類別，通過人數比例為 35.94%

# 6. A B C卷通過人數分別為何
(卷別)(通過人數)

In [20]:
df.groupby('卷別', sort=False)["通過人數"].sum().reset_index(name ='通過人數')

   卷別  通過人數
0  A卷  3763
1  B卷  5076
2  C卷   216

# 7. A B C卷通過比率分別為何
(卷別)(到考人數)(報考人數)

In [25]:
round(df.groupby('卷別', sort=False)["通過人數"].sum()/df.groupby('卷別', sort=False)["到考人數"].sum()*100, 2).reset_index(name ='通過比率')

   卷別   通過比率
0  A卷  64.57
1  B卷  71.30
2  C卷  28.09

# 8. 學生類別中到考率為何
(職業別)(到考人數)(報名人數)

In [28]:
total = 0
total_come = 0
for index, row in df.iterrows():
    if row['職業別'] == "學生":
        total += row["報名人數"]
        total_come += row["到考人數"]

print(f"學生類別中到考率為 {str(float(total_come)/float(total)*100)[:5]}%")

學生類別中到考率為 71.21%

# 9. 教師跟學生通過人數比為何
(職業別)(通過人數)

In [30]:
total_student = 0
total_teacher = 0
for index, row in df.iterrows():
    if row['職業別'] == "教":
        total_teacher += row["通過人數"]
    elif row['職業別'] == "學生":
        total_student += row["通過人數"]

print(f"教師跟學生通過人數比為 {str(float(total_teacher)/float(total_student+total_teacher)*100)[:5]}%")

教師跟學生通過人數比為 53.56%

# 10. 待業及其他跟學生通過人數比為何
(職業別)(通過人數)

In [32]:
total_student = 0
total_others = 0
for index, row in df.iterrows():
    if row['職業別'] == "待業及其他":
        total_others += row["通過人數"]
    elif row['職業別'] == "學生":
        total_student += row["通過人數"]

print(f"待業及其他跟學生通過人數比為 {str(float(total_others)/float(total_student+total_others)*100)[:5]}%")

待業及其他跟學生通過人數比為 11.21%